@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Martel:wght@300;400&display=swap" rel="stylesheet');

/*sección index*/
*{

	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	
}
.logo{
	box-align: left;
}
/* 1em igual a 10px*/
html{
	font-size: 62.5%;
}

/*selector de etiqueta¨*/


nav, main, aside, footer{
	padding: 20px;
}

nav img{
		height: 8vh;}
h5{
	color: white;
	font-style: Arial;
	font-size: 20px;
	letter-spacing: 1rem;
	background-color:#C5C5C5;
	background-size:40px ;
	height: 5vh;
	text-align: center;
	margin-left: 4px;			

}

#white{
	background-color: white;
}
#white1{
	color: white;
	letter-spacing: 1rem;
}

h4{
	color:#EC8088;
	font-style: Verdana;
	font-size: 2.2rem;
	letter-spacing: 0.2rem;
	font-weight: 50px;
}


h3{
	color: white;
	font-style: Verdana;
	font-size:2.1rem;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
	font-weight: 100px;

}

h6{
	color: black;
	font-style: verdana;
	font-size:5wrem;
	font-weight: lighter;} 

/* selectores de clase */

.prom{
	display: flex;
	padding-top: 4px;
	margin-left: 0px;
	margin-right: 0px;
	justify-content: center;
}

.textCenter{
	text-align: center;  /*alineación centrada*/
	margin-bottom: 1rem;
}
.textAside{
	text-align: left;
	margin-left: 1rem;
}

.lista{
	list-style: none;
	display: flex;

	
}


.promo{
	height: 60px;
	text-align: center;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1rem;
	border-style: double;	
}

body{
	padding-bottom: 5px;
	background-color: #DAD8D8;
	justify-content: space-around;

}

.contenedor1
{
	display: grid;
	grid-template-columns: 900px 600px;
	margin-left: 4px;
	justify-items: space-around;
	justify-content: space-around;
	margin-right: 4px;
}

	.contenedor1 img{
		height: 600px;
		width: 600px;

	}
	.contenedor1 iframe{
		height: 600px;
		width: 900px;

	}

.contenedor2{
	display: grid;
	grid-template-columns: 475px 475px 475px;
	grid-template-rows: 700px 700px;
	justify-content: space-around;
	margin-left:4rem;

}
.contenedor3
{
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-left: 1px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-right:1px ;
	

}
@keyframes mianimacion{
	0%{width: 400px;}
	25%{width:700px ;}
	50%{width: 900px;}
	75%{width: 1100px;}
	100%{widows: 1200px;}}


.animate {
	animation-name: mianimacion;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-duration: 0.8s;}

.elegidos
{
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	margin-left: 8rem;
	margin-bottom: 2rem;
}
footer{
	display: grid;
	position: relative;
	bottom: 0;
	border-style: double;
	margin-left: 4px;
	}
.contenedor4 p {
	font-size: 17px;
	font-style: italic;
	text-align: justify;
	word-spacing: 5px;

}
.contenedor4{
	display: grid;
	grid-template-columns:450px 450px 450px;
	justify-content: space-around ;
	margin-top: 1rem;
	margin-bottom: 1rem;

}
.scale:hover{
	transform: scale(1.2);
	transition: 	1s;
}
.transform:hover{
	cursor: pointer;
}

.translate:hover{
	transform: translateY(10px);
	transition:1.2s;
}
.degrad{
	background: linear-gradient(to bottom ,#EC8088,#D6AE9E);

	}

.transition{
	width: 400px;
	background-color: #FDE0E0;
	
}

.transition:hover{
	width: 1400px;
	background-color: #EE9494;
	transition: all 3s;

}
.scale1:hover{
	transform: scale(1.1);
	transition: 	2s;
}

.degrada1{
	background: linear-gradient(to bottom ,#D9B1B1,#E4C4C4);

	}

/*MUJERES y HOMBRE*/

.cont{
	display: flex;
	margin-left: 1rem;
	margin-right: 1rem;
	justify-content: center;
	margin-bottom: 2rem;
}

.contenidoMuj1{
	display: flex;
	margin-top: 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 1rem;
	margin-left: 2px;

}
	.contenidoMuj1 ul{
		color: #EC8088;
	}

	.contenidoMuj1 li{
		color: #EC8088;
	}


.cont-mujer2{
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	margin-left: 3rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	
}

.cont-mujer2 p {
	text-align: center;

}

.cont-mujer3{
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	margin-left: 3rem;
	margin-bottom: 2rem;
}

.transition1{
	width: 120px;
	background-color: #DAD8D8;
	
}
.transition1:hover{
	width: 1500px;
	background-color: #FFE6E6;
	transition: all 3s;}

.cost{
	display: grid;
	grid-template-columns: 600px 900px;
	justify-content: space-around;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

/* para outlet*/

.alinea{
	justify-content: center;
	align-content: center;
}
/* para el footer */ 

@media only  screen  and (max-width: 480px){
	
h4{
	font-size: 10px;
	}

.contenedor4{
		display: grid;
		grid-template-columns:160px 160px 160px;
		justify-content: space-around ;
		margin-top: 1rem;
		margin-bottom: 1rem;}

h3{
	font-size: 16px;}
h6{
	font-size: 12px;
}

h4{
	font-size: 12px;
	color: #FAA5A5;
	font-style: Verdana;
}

.contenedor4 p {
	font-size: 10px;
	text-align: justify;}
}

@media only  screen  and (max-width: 780px){
	
h4{
	font-size: 10px;
	}
	
.contenedor4{
			display: grid;
			grid-template-columns:260px 220px 260px;
			justify-content: space-around ;
			margin-top: 1rem;
			margin-bottom: 1rem;}
	
h3{
	font-size: 16px;}
h6{
	font-size: 12px;
	}
	
.contenedor4 p {
		font-size: 10px;
		text-align: justify;}
	}